* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	background-color: black;
	transform: scale(1,-1);
}

h1 {
	position: absolute;
	color: white;
	margin: auto;
	text-align:center;
}

.inputBox p{
	display: inline-block;
	color: white;
}
.inputBox input{
	display: inline-block;
}